<table>
  <thead>
    <tr>
      <th colspan="2">
        <input (keyup)="onKey($event)" type="text" placeholder="Recherche" />
      </th>
      <th>
        <select (change)="onChange($event)">
          <option value="title">Titre</option>
          <option value="year">Année</option>
        </select>
      </th>
      <th></th>
    </tr>
    <tr>
      <th>Titre</th>
      <th>Genre</th>
      <th>Année</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let line of lines">
      <td>{{ line.originalTitle }}</td>
      <td>{{ line.genre }}</td>
      <td>{{ line.startYear }}</td>
      <td>
        <button (click)="onClick(line)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>

<app-modal [editLine]="editLine" *ngIf="show" [show]="show"></app-modal>