<table>
  <thead>
    <tr>
      <th colspan="2"><input type="text" placeholder="Recherche"></th>
      <th>
        <select>
          <option>Title</option>
          <option>Year</option>
        </select>
      </th>
    </tr>
    <tr>
      <th>Original Title</th>
      <th>Genre</th>
      <th>Start Year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let line of data">
      <td>{{ line.originalTitle }}</td>
      <td>{{ line.genre }}</td>
      <td>{{ line.startYear }}</td>
    </tr>
  </tbody>
</table>